* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #000;
}

.col-md-3 {
	width: 25%;
}

.col-md-6 {
	width: 50%;
}

.col-md-9 {
	width: 75%;
}

.col-md-12 {
	width: 100%;
}

.col-md-4 {
	width: 33%;
}

.col-md-8 {
	width: 66%;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav, .menu {
	display: flex;
}

.nav {
	margin-top: 30px;
}

.back {
	background-color: #1a1a1a;
}

.contacts {
	height: 70px;
	line-height: 70px;
	color: white;
	display: flex;
}

.mail {
	background-image: url(images/mail.png);
	background-repeat: no-repeat;
	background-position: 0 47%;
}

.mail a {
	margin-left: 30px;
	text-decoration: none;
	color: white;
}

.social {
	margin-top: 13px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.circle-social {
	background-color: #464646;
	border-radius: 30px;
	width: 35px;
	height: 35px;
	margin: 6px;
	/*text-align: center;*/
}

.circle-social:hover {
	background-color: #ffe001;
}

.circle-social a {
	text-decoration: none;
	color: white;	
	display: block;	
}

.circle-social a:hover {
	color: #010201;
}

.facebook a {
	position: relative;
	top: -45%;
}

.linkedin a {
	position: relative;
	top: -48%;
	left: 3%;
}

.facebook {
	font-size: 26px;
	text-align: center;	
}

.linkedin {
	font-size: 20px;
	text-align: center;
}

.twitter{
	background-image: url(images/twitter.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.twitter:hover {
	background-image: url(images/twitter-hover.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.menu {
	margin-left: 218px;
}

.menu a {
	text-decoration: none;
	display: block;
	color: white;
	text-transform: uppercase;
	font-size: 26px;
	padding-left: 20px;
}

.menu a:hover {
	color: #ffe001;
	background-image: url(images/menu-hover.png);
	background-repeat: no-repeat;
	background-position: 37% 76%;
}

.nav > a > img {
	margin-top: 12px;
}

.nav {
	line-height: 100px;
}

.search {
	position: relative;
    top: 23px;
    right: -5%;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.search:hover {
	background-image: url(images/search-hover.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

hr {
	width: 100%;
}

.slick {
	margin-top: 50px;
	width: 774px;

}

.slick-prev:before,
.slick-next:before
{
    font-size: 30px!important;
}

.slick-prev {
    left: 13px!important;
    z-index: 2;
}

.slick-next {
    right: 25px!important;
}

.slider {
	display: flex;
	flex-wrap: nowrap;
}

.side-news {
	margin-top: 39px;
}

.side-news-item {
    background-color: #303030;
    padding: 30px;
    margin: 10px;
    height: 130px;
    width: 386px;
    background-image: url(images/fone.png);
    background-position: 7% 18%;
    background-repeat: no-repeat;
    background-size: 110px 37px;
}

.side-news-item:hover {
    background-color: #ffe100;
    background-image: url(images/fone-hover.png);
    background-position: 7% 18%;
    background-repeat: no-repeat;
    background-size: 110px 37px;
}


.side-news-header {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	font-size: 18px;	
	position: relative;
	top: -4px;
    left: 12px;
}
.second {
	position: relative;
	top: -1px;
    left: 0px;
}

.third {
	position: relative;
	top: -1px;
    left: 3px;
}

.fourth {
	position: relative;
	top: -1px;
    left: 5px;
}

.side-news-body {
	position: relative;
    top: 40px;
    left: -65px;
    color: white;
    font-weight: bold;
    font-size: 19px;
} 

.side-news-body:hover {
	color: black;
}

.item-img {
	position: relative;
	top: -39px;
    right: -235px;
}

a {
	text-decoration: none;
}

.body-text-1 {
	position: relative;
    top: 41px;
    left: -93px;
}

.body-text-2 {
	position: relative;
    top: 41px;
    left: -83px;
}

.body-text-3 {
	position: relative;
    top: 41px;
    left: -77px;
}

.slider-header-img {
	position: relative;
	bottom: 216px;
	left: 60px;
}

.slider-header-text {
	position: relative;
	bottom: 242px;
    left: 77px;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	font-size: 18px;
}

.slick-prev, .slick-next {
    top: 48%!important;
}

.slider-body {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 40px;
	position: relative;
	bottom: 215px;
    left: 58px;
}

.slider-body-text {
	width: 687px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	position: relative;
	bottom: 200px;
    left: 58px;
    line-height: 1.3em;
}

.politics {
	position: relative;
	bottom: 242px;
    left: 71px;
}

.science {
	position: relative;
	bottom: 242px;
    left: 73px;
}

h1 {
	color: white;
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 2px;
	margin-top: 90px;
}

.slick-track {
	height: 549px;
}

.slick-slide, .slick-cloned {
	height: 549px;
}

.topic {
	width: 270px;
	height: 350px;
	margin-top: 20px;
}

.topics-block {
	margin-top: 20px;
}

.topic-sport {
	background-image: url(images/topic-sport.jpg);
}

.topic-world {
	background-image: url(images/topic-world.jpg);
}

.date {
	position: relative;
	top: 225px;
	left: 20px;
	background-color: rgba(255,255,255,0.75);
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 1px;
	font-weight: bold;
}

.topic-header {
	color: white;
	font-weight: bold;
	font-size: 24px;
	position: relative;
	top: 236px;
	left: 20px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
	color: white;
    border: 1px solid #ffe100;
    font-weight: bold;
    text-align: center;
    padding: 7px 15px;
    position: relative;
    top: 245px;
    left: 20px;
}

.btn:hover, .topic-btn:hover {
	color: black;
	background-color: #ffe100;
}

.test1 {
	width: 200px;
	height: 200px;
	border: 1px solid red;
}

.topic-editor {
	width: 250px;
	height: 410px;
	/*margin-top: 15px;*/
}

.topic-theme {
	position: relative;
	top: 253px;
    left: -86px;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	font-size: 18px;
}

.topic-theme-img {
	position: relative;
	top: 265px;
	left: 16px;
}

.topic-btn {
	color: white;
    border: 1px solid #ffe100;
    font-weight: bold;
    text-align: center;
    padding: 7px 15px;
    position: relative;
    top: 300px;
    left: 16px;
}

.topic-header-two {
	color: white;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	top: 280px;
	left: 16px;
}

.footer {
	height: 450px;
	margin-top: 100px;
}

input {
	border: 1px solid #fff;
    width: 550px;
    padding: 21px;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 20px;
}

::placeholder {
	font-size: 20px;
	color: #fff;
}

.footer-button {
	width: 180px;
	height: 65px;
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	background-color: #ffe100;
	position: relative;
	left: 369px;
    bottom: 66px;
}

.logo {
	padding-top: 76px;
}

.subscribe {
	padding-left: 35px;
	padding-top: 80px;
}

.footer-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-menu a {
	
	text-decoration: none;
	display: block;
	color: white;
	text-transform: uppercase;
	font-size: 26px;
}

.footer-menu a:hover {
	color: #ffe001;
}

.footer-social {
	display: flex;
	text-align: center;
    line-height: 35px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
}

.site-info {
	color: grey;
	text-align: center;
	font-size: 18px;
	padding-top: 15px;
}